<header>
    <div class="upper-header-bar">
        <div class="logo-container">
            <a href="/">
                <img src="/img/logo_placeholder.png" alt="" class="main-logo">
            </a>
        </div>
        <div  class="upper-nav-bar-container">
            <div  class="upper-nav-bar">
                <div class="upper-nav-bar-element">
                    <div>
                        <p><i class="fas fa-envelope"></i></p>
                       <a href="/register"> <h4>Registro</h4> </a>
                    </div>
                </div>
                <div class="upper-nav-bar-element">
                    <div>
                        <p><i class="fas fa-shopping-cart"></i></p>
                        <a href="/productcart"><h4>Mi carrito</h4></a>
                    </div>
                </div>
                <div class="upper-nav-bar-element">
                    <div>
                        <img src="/img/Portrait_Placeholder.png" alt="">
                        <a href="/login"><h4>Mi perfil</h4></a>
                    </div>
                </div>
            </div>
        
            <form action="" class="search-form">
                <input type="text">
                <button>
                    <p>Buscar&nbsp;&nbsp;</p> 
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </div>

    <ul class="lower-bar">
        <li>Búsqueda por mascota</li>
        <li>Marcas</li>
        <li>Categorías</li>
    </ul>
</header>