<%- include("../partials/head") %>

    <body class="back">
        <form action="/products" method="GET">
            <div class="contenedor-logo">
                <img src="/img/logo_mobile.png" alt="" class="main-logo">
            </div>
            <div>
                <h2>!Artículo borrado!</h2>
        
                <button type="submit">Regresar al inventario</button>
            </div>
        </form>
        
    </body>

    </html>