<%- include("../partials/head") %>

    <head>
        <title>ChapultePets - Detalle del producto</title>
    </head>

    <body>

        <main class="main-product-detail">
            <div class="product-presentation">
                <div class="product-presentation-image">
                    <img src="/img/general_placeholder.png" alt="">
                </div>
                <div class="product-presentation-text">
                    <h4>Título</h4>
                    <p class="product-presentation-rating">
                        <i class="fas fa-star stars"></i>
                        <i class="fas fa-star stars"></i>
                        <i class="fas fa-star-half-alt stars"></i>
                        <i class="far fa-star stars"></i>
                        <i class="far fa-star stars"></i>
                        (19)
                    </p>
                    <p class="product-presentation-brand">Marca</p>
                    <p class="product-presentation-price">$00.00</p>
                    <form action="">
                        <label for="cantidad">Cantidad:</label>
                        <select name="cantidad" id="">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <button>Agregar al carrito</button>
                    </form>
                    <h4>Resumen del producto</h4>
                    <div class="product-presentation-resume">
                        <ul>
                            <li>Resumen</li>
                            <li>Resumen</li>
                            <li>Resumen</li>
                            <li>Resumen</li>
                            <li>Resumen</li>
                            <li>Resumen</li>
                        </ul>
                    </div>


                    <div class="opinions-section">
                        <h2>Opiniones</h2>
                        <select name="cantidad" id="">
                            <option value="1 estrella">1 estrella</option>
                            <option value="2 estrellas">2 estrellas</option>
                            <option value="3 estrellas">3 estrellas</option>
                            <option value="4 estrellas">4 estrellas</option>
                            <option value="5 estrellas">5 estrellas</option>
                        </select>
                        <!-- Opinión 1 -->
                        <div>
                            <div>
                                <img src="Portrait_Placeholder.png" alt="">
                                <div>
                                    <h4>Usuario 1</h4>
                                    <p class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </p>
                                </div>
                                <p>Fecha</p>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ullam totam nemo libero
                                facere
                                fugiat consequuntur nulla, nostrum nesciunt adipisci vitae harum sint ut dignissimos
                                quam
                                dolor, deleniti est. Quibusdam.</p>
                        </div>

                        <!-- Opinión 2 -->
                        <div>
                            <div>
                                <img src="Portrait_Placeholder.png" alt="">
                                <div>
                                    <h4>Usuario 2</h4>
                                    <p class="stars">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </p>
                                </div>
                                <p>Fecha</p>
                            </div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ullam totam nemo libero
                                facere
                                fugiat consequuntur nulla, nostrum nesciunt adipisci vitae harum sint ut dignissimos
                                quam
                                dolor, deleniti est. Quibusdam.</p>
                        </div>
                    </div>
        </main>

        <<<<<<< HEAD:src/views/productDetail.ejs <!-- Pie de página -->
            <%- include("./partials/footer") %>
                =======
                <!-- Pie de página -->
                <%- include("../partials/footer") %>
                    >>>>>>> bb777c7ec69b132be30a8d3b688ee61dda08740c:src/views/products/productDetail.ejs

    </body>

    </html>