<%- include("../partials/head") %> 
<head>
    <title>ChapultePets - Carrito de Compras</title>
</head>

<body class="cart">
    <!-- Codificación de la cabecera -->
    <%- include("../partials/header") %>

    <!-- Configuración del main -->
    <main class="cart">
        <h2>Carrito de Compras</h2>
        <div>
            <div class="leyenda">
                <p>_________________________________________</p>
                <div>
                    <p>Artículo</p>
                    <p>Precio</p>
                    <p>Cantidad</p>
                    <p>Subtotal</p>
                </div>
                <p>_________________________________________</p>
            </div>
            <article>
                <div>
                    <div class="articulo">
                        <div class="logo_cart">  
                            <img src="/img/general2_placeholder.jpg" alt="" width="100%">
                        </div>
                        <div class="info">
                            <div class="detalles">
                                <p>NombreProducto</p>
                                <p class="etiquetaPrecio">$0.00</p>
                            </div>
                            <div class="detallesCant">
                                <form>
                                    <select name ="cantidadProducto">
                                        <option value="0">Cantidad</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                    </select>
                                </form>
                                <p class="etiquetaPrecio">$0.00</p>
                            </div>
                            <div class="botonEliminar">
                                <button type="submit">Eliminar Producto</button>
                            </div>
                        </div>
                    </div>
                    <div class="articulo">
                        <div class="logo_cart">  
                            <img src="/img/general2_placeholder.jpg" alt="" width="100%">
                        </div>
                        <div class="info">
                            <div class="detalles">
                                <p>NombreProducto</p>
                                <p class="etiquetaPrecio">$0.00</p>
                            </div>
                            <div class="detallesCant">
                                <form>
                                    <select name ="cantidadProducto">
                                        <option value="0">Cantidad</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                    </select>
                                </form>
                                <p class="etiquetaPrecio">$0.00</p>
                            </div>
                            <div class="botonEliminar">
                                <button type="submit">Eliminar Producto</button>
                            </div>
                        </div>
                    </div>
                    <div class="articulo">
                        <div class="logo_cart">  
                            <img src="/img/general2_placeholder.jpg" alt="" width="100%">
                        </div>
                        <div class="info">
                            <div class="detalles">
                                <p>NombreProducto</p>
                                <p class="etiquetaPrecio">$0.00</p>
                            </div>
                            <div class="detallesCant">
                                <form>
                                    <select name ="cantidadProducto">
                                        <option value="0">Cantidad</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                    </select>
                                </form>
                                <p class="etiquetaPrecio">$0.00</p>
                            </div>
                            <div class="botonEliminar">
                                <button type="submit">Eliminar Producto</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="desyres">
                    <div class="descuenton">
                        <h2>Aplicar código de descuento</h2>
                        <div>
                            <input type="text" name="descuento" placeholder="Introducir código" id="" class=""  style="height: 30px;">
                            <button type="submit">Aplicar Descuento</button>
                        </div>
                    </div>

                    <div class="resumen">
                        <h2>Resumen</h2>

                        <div class="subtotal">
                            <p>Subtotal</p>
                            <p>$0.00</p>
                        </div>

                        <div class="impuestos">
                            <p>Impuestos</p>
                            <p>$0.00</p>
                        </div>

                        <div class="total">
                            <p>Total</p>
                            <p>$0.00</p>
                        </div>

                        <button type="submit" style="width: 100%;">Comprar Ahora</button>
                    </div>
                </div>
            </article>

    </main>
    <!-- Configuración del Pie de página -->
    <%- include("../partials/footer") %> 

</body>
</html>