<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet"><!--Archivo normalize.css, descargada de internet-->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <link href="/css/styles.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <a href="/">
                <img src="/img/logo_placeholder.png" alt="">
            </a>
        </div>

        <div>
            <div>
                <div>
                    <p><i class="fas fa-envelope"></i></p>
                    <h4>Registro</h4>
                </div>
                <div>
                    <p><i class="fas fa-shopping-cart"></i></p>
                    <h4>Mi carrito</h4>
                </div>
                <div>
                    <img src="/img/Portrait_Placeholder.png" alt="">
                    <h4>Mi perfil</h4>
                </div>
                
            </div>
                <input type="text">
                <button>Buscar <i class="fas fa-search"></i></button>
            <div>

            </div>            
        </div>

        <div>
            <ul>
                
            </ul>
        </div>

    </header>

    <main>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, cum! Debitis rem tempora dolor ipsa quibusdam suscipit! Id nam ipsa alias enim numquam corporis quae quibusdam, officia quis blanditiis pariatur.</p>
    </main>

    <footer>

    </footer>



    
</body>
</html>