<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet"><!--Archivo normalize.css, descargada de internet-->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <link href="/css/styles.css" rel="stylesheet">
    <title>ChapultePets - Inicio</title>
</head>

<body>
    <header>
        <div class="upper-header-bar">
            <div class="logo-container">
                <a href="/">
                    <img src="/img/logo_placeholder.png" alt="" class="main-logo">
                </a>
            </div>
            <div  class="upper-nav-bar-container">
                <div  class="upper-nav-bar">
                    <div class="upper-nav-bar-element">
                        <p><i class="fas fa-envelope"></i></p>
                        <h4>Registro</h4>
                    </div>
                    <div class="upper-nav-bar-element">
                        <p><i class="fas fa-shopping-cart"></i></p>
                        <h4>Mi carrito</h4>
                    </div>
                    <div class="upper-nav-bar-element">
                        <img src="/img/Portrait_Placeholder.png" alt="">
                        <h4>Mi perfil</h4>
                    </div>
                </div>
            
                <form action="" class="search-form">
                    <input type="text">
                    <button>Buscar <i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>

        
        <ul class="lower-bar">
            <li>Búsqueda por mascota</li>
            <li>Marcas</li>
            <li>Categorías</li>
        </ul>
        

    </header>

    <main>
        <p>--------------------</p>
        <p>inicio del main</p>
        <p>--------------------</p>
        <form class="carousel">
            <img src="img/banner_placeholder.png" alt="" width=100%>
            <button><i class="fas fa-arrow-left"></i></button>
            <button><i class="fas fa-arrow-right"></i></button>
            <p>Descripción del carrusel</p>
        </div>

        <!-- div para todo lo que va debajo del carrusel :v -->
        <div>
            <!-- Div de categorías -->
            
            <ul class="home-logo-bar">
                <li>
                    <img src="img/logo2_placeholder.jpg" alt="">
                    <p>logo categoría 1</p>
                </li>
                <li>
                    <img src="img/logo2_placeholder.jpg" alt="">
                    <p>logo categoría 2</p>
                </li>
                <li>
                    <img src="img/logo2_placeholder.jpg" alt="">
                    <p>logo categoría 3</p>
                </li>
                <li>
                    <img src="img/logo2_placeholder.jpg" alt="">
                    <p>logo categoría 4</p>
                </li>
                <li>
                    <img src="img/logo2_placeholder.jpg" alt="">
                    <p>logo categoría 5</p>
                </li>
                <li>
                    <img src="img/logo2_placeholder.jpg" alt="">
                    <p>logo categoría 6</p>
                </li>
            </ul>
            
            <!-- Div de muestra de artículos -->
            <div class="product-window">


                <article>
                    <img src="/img/general_placeholder.png" alt="">
                    <h4>Nombre del producto</h4>
                    <!-- casillero de estrellas -->
                    <p>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        (19)
                    </p>
                    <p>$00.00</p>
                    <p>Marca</p>
                </article>
                
                <article>
                    <img src="/img/general_placeholder.png" alt="">
                    <h4>Nombre del producto</h4>
                    <!-- casillero de estrellas -->
                    <p>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        (19)
                    </p>
                    <p>$00.00</p>
                    <p>Marca</p>
                </article>
                
                <article>
                    <img src="/img/general_placeholder.png" alt="">
                    <h4>Nombre del producto</h4>
                    <!-- casillero de estrellas -->
                    <p>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        (19)
                    </p>
                    <p>$00.00</p>
                    <p>Marca</p>
                </article>
                
                <article>
                    <img src="/img/general_placeholder.png" alt="">
                    <h4>Nombre del producto</h4>
                    <!-- casillero de estrellas -->
                    <p>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        (19)
                    </p>
                    <p>$00.00</p>
                    <p>Marca</p>
                </article>
                
                
            </div>
            <!-- div de recomendaciones -->
            <div class="recommendation-bar">
                <img src="/img/general_placeholder.png" alt="" >
                <img src="/img/general_placeholder.png" alt="" >
                <img src="/img/general_placeholder.png" alt="" >
                <img src="/img/general_placeholder.png" alt="" >
                <img src="/img/general_placeholder.png" alt="" >
            </div>
            <div>
                <a href=""><i class="fas fa-arrow-left"></i> Anterior </a>
                <a href="">1 </a>
                <a href="">2 </a>
                <a href="">3 </a>
                <a href="">4 </a>
                <a href="">5 </a>
                <a href="">Siguiente <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </main>

<!-- Configuración del Pie de página -->
    <footer>
        <div> 
            <h2>Contacto</h2>
            <p><A href=/#>Quienes somos</A></p>
            <p><A href=/#>Preguntas frecuentes</A></p>

        </div>
        <div>
            <h2>Legales</h2>
            <p><A href=/#>Términos de servicio</A></p>
            <p><A href=/#>Avisos de privacidad</A></p>

        </div>
        <div>
            <h2>Ligas adicionales</h2>
            <p><A href=/#>Devoluciones</A></p>
            <p><A href=/#>Pagos</A></p>
            <p><A href=/#>Envíos y Entregas</A></p>
        </div>
        <!-- Redes sociales -->
        <div>
            <h2>Nuestras redes</h2>
            <p><A href=/#><i class="fab fa-twitter"></i></A> 
            <A href=/#><i class="fab fa-facebook"></i></A>
            <A href=/#><i class="fab fa-instagram"></i></A></p>
        </div>
    </footer>
</body>
</html>
