<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet"><!--Archivo normalize.css, descargada de internet-->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <link href="/css/styles.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <!-- Codificación de la cabecera -->
    <header>
        <div>
            <div>
                <a href="/">
                    <img src="/img/logo_placeholder.png" alt="">
                </a>
            </div>
            <div>
                <div>
                    <div>
                        <p><i class="fas fa-envelope"></i></p>
                        <h4>Registro</h4>
                    </div>
                    <div>
                        <p><i class="fas fa-shopping-cart"></i></p>
                        <h4>Mi carrito</h4>
                    </div>
                    <div>
                        <img src="/img/Portrait_Placeholder.png" alt="" width=10%>
                        <h4>Mi perfil</h4>
                    </div>
                </div>
            
                <input type="text">
                <button>Buscar <i class="fas fa-search"></i></button>
            </div>
        </div>

        <div>
            <ul>
                <li>Búsqueda por mascota</li>
                <li>Marcas</li>
                <li>Categorías</li>
            </ul>
        </div>
    </header>

    <!-- Configuración del main -->
    <main>
        <div>
            <img src="/img/logo_placeholder.png" alt="">
        </div>
        <div>
            <H2>Inicio de sesión</H2>
            <p>   _______________    </p>
            <div>
                <p>
                    <label for="nombreDeUsuario">Nombre de usuario: </label>
                    <input type="text" name="nombreDeUsuario" id=""  placeholder="Perrito_panzón" class="">
                </p>
                <p>
                    <label for="contraseña">Contraseña: </label>
                    <input type="password" name="contraseña" id="" class="">
                </p>
                <p>
                    <A href=/#>¿Olvidaste la contraseña?</A>
                    <button type="submit" class="">Entrar</button>
                </p>
            </div>
            <p>   _______________    </p>
            <p>¿Eres nuevo?</p>
            <A href=/#>Registrar nuevo usuario</A>
        </div>
    </main>
    <!-- Configuración del Pie de página -->
    <footer>
        <div> 
            <h2>Contacto</h2>
            <A href=/#>Quienes somos</A>
            <A href=/#>Preguntas frecuentes</A>
        </div>
        <div>
            <h2>Legales</h2>
            <A href=/#>Términos de servicio</A>
            <A href=/#>Avisos de privacidad</A>
        </div>
        <div>
            <h2>Ligas adicionales</h2>
            <A href=/#>Devoluciones</A>
            <A href=/#>Pagos</A>
            <A href=/#>Envíos y Entregas</A>
        </div>
        <!-- Redes sociales -->
        <div>
            <h2>Nuestras redes</h2>
            <A href=/#><i class="fab fa-twitter"></i></A>
            <A href=/#><i class="fab fa-facebook"></i></A>
            <A href=/#><i class="fab fa-instagram"></i></A>
        </div>
    </footer>
</body>
</html>