<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet"><!--Archivo normalize.css, descargada de internet-->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <link href="/css/styles.css" rel="stylesheet">
    <title>ChapultePets - Carrito</title>
</head>
<body>
    <!-- Codificación de la cabecera -->
    <header>
        <div class="upper-header-bar">
            <div class="logo-container">
                <a href="/">
                    <img src="/img/logo_placeholder.png" alt="" class="main-logo">
                </a>
            </div>
            <div  class="upper-nav-bar-container">
                <div  class="upper-nav-bar">
                    <div class="upper-nav-bar-element">
                        <div>
                            <p><i class="fas fa-envelope"></i></p>
                            <h4>Registro</h4>
                        </div>
                    </div>
                    <div class="upper-nav-bar-element">
                        <div>
                            <p><i class="fas fa-shopping-cart"></i></p>
                            <h4>Mi carrito</h4>
                        </div>
                    </div>
                    <div class="upper-nav-bar-element">
                        <div>
                            <img src="/img/Portrait_Placeholder.png" alt="">
                            <h4>Mi perfil</h4>
                        </div>
                    </div>
                </div>
            
                <form action="" class="search-form">
                    <input type="text">
                    <button>
                        <p>Buscar&nbsp;&nbsp;</p> 
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>

        <ul class="lower-bar">
            <li>Búsqueda por mascota</li>
            <li>Marcas</li>
            <li>Categorías</li>
        </ul>
    </header>

    <!-- Configuración del main -->
    <main>
        <h2>Carrito de Compras</h2>
        <div>
            <div>
                <p>_________________________________________</p>
                <div>
                    <p>Artículo</p>
                    <p>Precio</p>
                    <p>Cantidad</p>
                    <p>Subtotal</p>
                </div>
                <p>_________________________________________</p>
            </div>
            <div>
                <img src="/img/logo2_placeholder.jpg" alt="">
                <p>NombreProducto</p>
                <p>$0.00</p>
                <div>
                    <select name ="cantidadProducto">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="1">6</option>
                        <option value="2">7</option>
                        <option value="3">8</option>
                        <option value="4">9</option>
                    </select>
                    <button>
                        <button type="erase">Eliminar</button>
                    </button>
                </div>
                <p>$0.00</p>
            </div>

            <div>
                <img src="/img/logo2_placeholder.jpg" alt="">
                <p>NombreProducto</p>
                <p>$0.00</p>
                <div>
                    <select name ="cantidadProducto">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="1">6</option>
                        <option value="2">7</option>
                        <option value="3">8</option>
                        <option value="4">9</option>
                    </select>
                    <button>
                        <button type="erase">Eliminar</button>
                    </button>
                </div>
                <p>$0.00</p>
            </div>

            <div>
                <img src="/img/logo2_placeholder.jpg" alt="">
                <p>NombreProducto</p>
                <p>$0.00</p>
                <div>
                    <select name ="cantidadProducto">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="1">6</option>
                        <option value="2">7</option>
                        <option value="3">8</option>
                        <option value="4">9</option>
                    </select>
                    <button>
                        <button type="erase">Eliminar</button>
                    </button>
                </div>
                <p>$0.00</p>
            </div>

            <h2>Aplicar código de descuento</h2>
            <div>
                <input type="text" name="descuento" placeholder="Introducir código de descuento" id="" class="">
                <button type="submit">Aplicar Descuento</button>
            </div>
        </div>

        <div>
            <h2>Resumen</h2>
            <p>________________________</p>
            <div>
                <p>Subtotal</p>
                <p>$0.00</p>
            </div>
            <div>
                <p>Impuestos</p>
                <p>$0.00</p>
            </div>
            <p>___________________________</p>
            <div>
                <p>Total</p>
                <p>$0.00</p>
            </div>
            <button type="submit">Comprar Ahora</button>
        </div>
        
    </main>
    <!-- Configuración del Pie de página -->
    <footer>
        <div> 
            <h2>Contacto</h2>
            <p><A href=/#>Quienes somos</A></p>
            <p><A href=/#>Preguntas frecuentes</A></p>

        </div>
        <div>
            <h2>Legales</h2>
            <p><A href=/#>Términos de servicio</A></p>
            <p><A href=/#>Avisos de privacidad</A></p>

        </div>
        <div>
            <h2>Ligas adicionales</h2>
            <p><A href=/#>Devoluciones</A></p>
            <p><A href=/#>Pagos</A></p>
            <p><A href=/#>Envíos y Entregas</A></p>
        </div>
        <!-- Redes sociales -->
        <div>
            <h2>Nuestras redes</h2>
            <p><A href=/#><i class="fab fa-twitter"></i></A> 
            <A href=/#><i class="fab fa-facebook"></i></A>
            <A href=/#><i class="fab fa-instagram"></i></A></p>
        </div>
    </footer>
</body>
</html>