<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet"><!--Archivo normalize.css, descargada de internet-->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <link href="/css/styles.css" rel="stylesheet">
    <title>ChapultePets - Carrito</title>
</head>
<body>
    <!-- Codificación de la cabecera -->
    <header>
        <div class="upper-header-bar">
            <div class="logo-container">
                <a href="/">
                    <img src="/img/logo_placeholder.png" alt="" class="main-logo">
                </a>
            </div>
            <div  class="upper-nav-bar-container">
                <div  class="upper-nav-bar">
                    <div class="upper-nav-bar-element">
                        <div>
                            <p><i class="fas fa-envelope"></i></p>
                            <h4>Registro</h4>
                        </div>
                    </div>
                    <div class="upper-nav-bar-element">
                        <div>
                            <p><i class="fas fa-shopping-cart"></i></p>
                            <h4>Mi carrito</h4>
                        </div>
                    </div>
                    <div class="upper-nav-bar-element">
                        <div>
                            <img src="/img/Portrait_Placeholder.png" alt="">
                            <h4>Mi perfil</h4>
                        </div>
                    </div>
                </div>
            
                <form action="" class="search-form">
                    <input type="text">
                    <button>
                        <p>Buscar&nbsp;&nbsp;</p> 
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>

        <ul class="lower-bar">
            <li>Búsqueda por mascota</li>
            <li>Marcas</li>
            <li>Categorías</li>
        </ul>
    </header>

    <!-- Configuración del main -->
    <main class="cart">
        <h2>Carrito de Compras</h2>
        <div>
            <div class="leyenda">
                <p>_________________________________________</p>
                <div>
                    <p>Artículo</p>
                    <p>Precio</p>
                    <p>Cantidad</p>
                    <p>Subtotal</p>
                </div>
                <p>_________________________________________</p>
            </div>
            <article>
                <div>
                    <div class="articulo">
                        <div class="logo_cart">  
                            <img src="/img/general2_placeholder.jpg" alt="" width="100%">
                        </div>
                        <div class="info">
                            <div class="detalles">
                                <p>NombreProducto</p>
                                <p class="etiquetaPrecio">$0.00</p>
                            </div>
                            <div class="detallesCant">
                                <form>
                                    <select name ="cantidadProducto">
                                        <option value="0">Cantidad</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                    </select>
                                </form>
                                <p class="etiquetaPrecio">$0.00</p>
                            </div>
                            <div class="botonEliminar">
                                <button type="submit">Eliminar Producto</button>
                            </div>
                        </div>
                    </div>
                    <div class="articulo">
                        <div class="logo_cart">  
                            <img src="/img/general2_placeholder.jpg" alt="" width="100%">
                        </div>
                        <div class="info">
                            <div class="detalles">
                                <p>NombreProducto</p>
                                <p class="etiquetaPrecio">$0.00</p>
                            </div>
                            <div class="detallesCant">
                                <form>
                                    <select name ="cantidadProducto">
                                        <option value="0">Cantidad</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                    </select>
                                </form>
                                <p class="etiquetaPrecio">$0.00</p>
                            </div>
                            <div class="botonEliminar">
                                <button type="submit">Eliminar Producto</button>
                            </div>
                        </div>
                    </div>
                    <div class="articulo">
                        <div class="logo_cart">  
                            <img src="/img/general2_placeholder.jpg" alt="" width="100%">
                        </div>
                        <div class="info">
                            <div class="detalles">
                                <p>NombreProducto</p>
                                <p class="etiquetaPrecio">$0.00</p>
                            </div>
                            <div class="detallesCant">
                                <form>
                                    <select name ="cantidadProducto">
                                        <option value="0">Cantidad</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                    </select>
                                </form>
                                <p class="etiquetaPrecio">$0.00</p>
                            </div>
                            <div class="botonEliminar">
                                <button type="submit">Eliminar Producto</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="desyres">
                    <div class="descuenton">
                        <h2>Aplicar código de descuento</h2>
                        <div>
                            <input type="text" name="descuento" placeholder="Introducir código" id="" class=""  style="height: 30px;">
                            <button type="submit">Aplicar Descuento</button>
                        </div>
                    </div>

                    <div class="resumen">
                        <h2>Resumen</h2>

                        <div class="subtotal">
                            <p>Subtotal</p>
                            <p>$0.00</p>
                        </div>

                        <div class="impuestos">
                            <p>Impuestos</p>
                            <p>$0.00</p>
                        </div>

                        <div class="total">
                            <p>Total</p>
                            <p>$0.00</p>
                        </div>

                        <button type="submit" style="width: 100%;">Comprar Ahora</button>
                    </div>
                </div>
            </article>

    </main>
    <!-- Configuración del Pie de página -->
    <footer class="cart">
        <div> 
            <h2>Contacto</h2>
            <p><A href=/#>Quienes somos</A></p>
            <p><A href=/#>Preguntas frecuentes</A></p>

        </div>
        <div>
            <h2>Legales</h2>
            <p><A href=/#>Términos de servicio</A></p>
            <p><A href=/#>Avisos de privacidad</A></p>

        </div>
        <div>
            <h2>Ligas adicionales</h2>
            <p><A href=/#>Devoluciones</A></p>
            <p><A href=/#>Pagos</A></p>
            <p><A href=/#>Envíos y Entregas</A></p>
        </div>
        <!-- Redes sociales -->
        <div>
            <h2>Nuestras redes</h2>
            <p><A href=/#><i class="fab fa-twitter"></i></A> 
            <A href=/#><i class="fab fa-facebook"></i></A>
            <A href=/#><i class="fab fa-instagram"></i></A></p>
        </div>
    </footer>
</body>
</html>