:root{
    /* --Verde: #64e100;
    --Azul: #0064E1;
    --Rosa: #e10064; */

    --fondo-header: #2b5f00;
    --letra-header:aliceblue;
    --sombreado-header: #0064E1;
    --Rosa: #e10064;
}

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

/* header */
header{
    background-color: var(--fondo-header);
    display: flex;
    flex-wrap: wrap;
    color: var(--letra-header)
}

.upper-header-bar{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo-container{
    width: 30%;
    align-self: center;
}

.logo-container img{
    width: 100%;
}

.upper-nav-bar-container{
    width: 60%;
}

.upper-nav-bar-element{
    width: 30%;
    align-self: stretch;
    align-content: center;
    text-align: center;
    border: red 2px dotted;
}

.upper-nav-bar-element img{
    width: 50px;
    border-radius: 50%;
    padding: 5px;
}

.upper-nav-bar,
.search-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.search-form input{
    width: 60%;
}

.lower-bar{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.lower-bar li{
    padding: 1rem;
}

.lower-bar li:hover{
    background-color: var(--sombreado-header);
}

.upper-nav-bar-element:hover{
    background-color: var(--sombreado-header);
}

/* footer */
footer {
    font-size: 14px;;
    margin: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer A{
    text-decoration: none;
    color: #000000;
}


/* index */

/* detalle producto  */

/* login */
main.login form.formulario{
    margin: 20px;
    border:  solid #000000 1px;
    border-radius: 10%;
}

main.login form.formulario p{
    margin: 20px 20px;
}

main.login form.formulario input{
    width: 100%;
}

main.login form.formulario p.finale{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.login div.cuerpo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* register */
main.register form p{
    margin: 30px 30px;
}

main.register form input{
    width: 100%;
}

main.register form{
    margin: 30px;
    border:  solid #000000 1px;
    border-radius: 10%;
}

main.register form input.nombre:valid{
    transition: all 1s;
    background-color: lightgreen;
}

main.register form input.contraseña:valid{
    transition: all 1s;
    background-color: lightgreen;
}

main.register form input.contraseña:invalid{
    transition: all 1s;
    background-color: #ff7f7f;
}

/* Carrito de compras */


@media (min-width: 361px){

/* header */

/* index */

/* detalle producto  */



/* footer */
footer {
    font-size: 12px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

footer div{
    margin-left: 15px;
    display: block;
}

/* login */

main.login form.formulario input{
    width: 70%;
}

/* register */
main.register form input{
    width: 70%;
}
/* Carrito de compras */

}

@media (min-width: 720px){

/* header */

/* index */

/* detalle producto  */

/* footer */

/* login */

/* register */

/* Carrito de compras */

}

