:root{
    /* --Verde: #64e100;
    --Azul: #0064E1;
    --Rosa: #e10064; */

    --fondo-header: white;
    --letra-header:black;
    --sombreado-header: #11d10094;
    --Rosa: #e10064;
    --fondo-main: white;
    --fondo-botones-carrusel: rgba(255, 255, 255, 0.25);
    --fondo-descripcion-carrusel: rgba(255, 255, 255, 0.25);
    --presio: red;
    --estrellas: orange;
    --fondoLogin: #ffffff;
    --contrasteLogin: #f4f4f4;
    --formularioValido: lightgreen;
    --formularioNoValido: #ff7f7f;
    --fondoTransiciones: #0022AA;
}

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

main{
    margin: 15px;
    background-color: var(--fondo-main);
}

.stars{
    color: var(--estrellas);
}

/* header */
header{
    background-color: var(--fondo-header);
    display: flex;
    flex-wrap: wrap;
    color: var(--letra-header);
    margin: 15px;
    padding-top: 15px;
}

header A{
    text-decoration: none;
    color: #000000;
}
.upper-header-bar{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.logo-container{
    width: 100%;
    align-self: center;
}

.logo-container img{
    object-fit: contain;
    width: 100%;
    max-height: 95px;
}

.main-logo-desktop{
    display: none;
}

.upper-nav-bar-container{
    width: 60%;
    font-size: 12px;
    background-color: var(--fondoLogin);
    padding: 17px;
    margin: 0 auto;
    align-self: center;
}

.upper-nav-bar-element{
    text-align: center;
    display: flex;
    align-self: flex-start;
    margin-bottom: 10px;
}

.upper-nav-bar-element div{
    align-self: center;
}

.upper-nav-bar-element img{
    margin-top: 10px;
    width: 40px;
    border-radius: 50%;
    padding: 5px 5px 0px 5px;
}

form.search-form{
    display: flex;
    justify-content: center;
}

.upper-nav-bar{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}

.search-form input{
    width: 60%;
    padding: 3px;
}

.search-form button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 30%;
    max-width: 120px;
}

.search-form button p{
    display: none;
}

.search-form button p,
.search-form button i{
    align-self: center;
}

.lower-bar{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.lower-bar li{
    padding: 1rem;
}

.lower-bar li:hover{
    background-color: var(--sombreado-header);
}

.upper-nav-bar-element:hover{
    background-color: var(--sombreado-header);
}

header #fasCart,
header #fasRegister,
header #fasLogin{
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
}

/* footer */
footer {
    font-size: 14px;;
    margin: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
footer.margen {
    padding: 30px;
    border-top:solid #000000 1px;
}

footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer A{
    text-decoration: none;
    color: #000000;
}

footer h2{
    margin-bottom: 10px;
}

footer p{
    margin-bottom: 5px;
}
/* index */

body.index h1{
    margin-left: 2vw;
}

.carousel{
    position: relative;
}

.carousel img{
    width: 100%;
}

.carousel p,
.carousel button{
    position: absolute;
}

.carousel button.carousel-left-button,
.carousel button.carousel-right-button{
    top: 50%;
    transform: translate(0,-50%);
    border: none;
    background-color: var(--fondo-botones-carrusel);
    font-size: 3vw;
}

.carousel button.carousel-left-button{
    left: 0;
}

.carousel button.carousel-right-button{
    right: 0;
}

.carousel p{
    bottom: 5px;
    width: 100%;
    text-align: center;
    background-color: var(--fondo-descripcion-carrusel);
}

.home-logo-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    margin: 15px 0px;
}

.home-logo-bar li{
    width: 15%;
    text-align: center;
}

.home-logo-bar img{
    width: 100%;
}

.home-logo-bar p{
    display: none;
}

.product-window{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-window a{
    width: 45%;
    margin-bottom: 15px;
    text-decoration: none;
    color: black;
}

.product-window a:link{
    text-decoration: none;
}
.product-window a:visited{
    text-decoration: none;
}
.product-window a:hover{
    text-decoration: none;
}
.product-window a:active {
    text-decoration: none;
}

.product-window article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-window article h4,
.product-window article p.product-rating-stars{
    width: 90%;
    text-align: center;
}

.product-window article p.product-price,
.product-window article p.product-brand{
    width: 45%;
    text-align: center;
}

.product-window img{
    width: 100%;
    max-height: 45vw;
    object-fit: contain;
}

.recommendation-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px 0;
}

.recommendation-bar img{
    width: 18%;
}

.page-changer{
    text-align: center;
}

body.index article:hover {
    box-shadow: 0px 0px 15px rgb(100, 100, 100);
    transition: all 1s;
}

/* detalle producto  */

.main-product-detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-presentation-image{
    text-align: center;
    margin-bottom: 10px;
}

.product-presentation-image img{
    width: 90%;
}

.product-presentation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-presentation-image{
    width: 100%;
}

.product-presentation-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-self: start;
}

.product-presentation-text h4{
    text-align: center;
    width: 100%;
}

.product-presentation-text P,
.product-presentation-text form{
    text-align: center;
    width: 48%;
}

.product-presentation-resume{
    margin-left: 15px;
    width: 100%;
}

.product-presentation-price{
    color: var(--presio);
}

.product-presentation,
.product-detail,
.opinions-section{
    margin-bottom: 15px;
}

/* login */

body.login{
    background-color: var(--contrasteLogin);
}
main.login{
    background-color: var(--contrasteLogin);
}

main.login div.logo-container{
    width: 100%;
    margin-bottom: 50px;
}

main.login form.formulario p input{
    margin-bottom: 20px;
    height: 30px;
}

main.login form.formulario p button{
    height: 30px;
}

main.login form.formulario button:hover{
    transition: all .5s;
    background-color: #0022AA;
    border:solid #0022AA 1px;
    border-radius: 5px;
    color: #ffffff;
}

main.login form p.contra{
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}


main.login form{
    font-size: 14px;
    width: 225px;
    background-color: var(--fondoLogin);
    margin: 0 auto;
    border:  solid #E1E1E1 1px;
    border-radius: 5px;
    padding: 17px;
    
}

main.login div.reg{
    font-size: 14px;
    width: 225px;
    background-color: var(--fondoLogin);
    margin: 0 auto;
    margin-top:10px;
    border:  solid #E1E1E1 1px;
    border-radius: 5px;
    padding: 17px;

    display:flex;
    flex-direction: column;
    align-items: center;
}

footer.for{
    font-size: 12px;
    width: 375x;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer.for div.cabeza{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0px;
}

footer.for div.cabeza h2{
    margin-bottom: 10px;
}

footer.for div div.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* register */
body.register{
    background-color: var(--contrasteLogin);
}
main.register{
    background-color: var(--contrasteLogin);
}
main.register form p{
    margin: 30px 30px;
}

main.register div.logo-container{
    width: 100%;
}
main.register form p input{
    height: 30px;
}

main.register form p button{
    height: 30px;
}

main.register form{
    font-size: 14px;
    width: 300px;
    background-color: var(--fondoLogin);
    margin: 0 auto;
    border:  solid #E1E1E1 1px;
    border-radius: 5px;
    padding: 17px;
}

/* main.register form p input.nombreDeUsuario:valid{
    transition: all 1s;
    border-radius: 5px;
    border: solid var(--formularioValido) 2px;
}

main.register form input.contraseña:valid{
    transition: all 1s;
    border-radius: 5px;
    border: solid var(--formularioValido) 2px;
} */

/* main.register form input.confirmarContraseña:valid{
    transition: all 1s;
    border-radius: 5px;
    border: solid var(--formularioValido) 2px;
}

main.register form input.correo:valid{
    transition: all 1s;
    border-radius: 5px;
    border: solid var(--formularioValido) 2px;
}

main.register form input.tel:valid{
    transition: all 1s;
    border-radius: 5px;
    border: solid var(--formularioValido) 2px;
} */

main.register form button:hover{
    transition: all .5s;
    background-color: #0022AA;
    border:solid #0022AA 1px;
    border-radius: 5px;
    color: #ffffff;
}

main.register input.caja-error{
    border: red solid 2px;
    border-radius: 5px;
}

/* main.register form input.contraseña:invalid{
    transition: initial;
    background-color: #ff7f7f;
}  */
footer.formulario{
    font-size: 12px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer.formulario div.cabeza{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0px;
}

footer.formulario div.cabeza h2{
    margin-bottom: 10px;
}

footer.formulario div div.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Carrito de compras */
main.cart{
    font-size: 14px;
}
main.cart .resumen{
    font-size: 14px;
}
main.cart article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.cart h2{
    margin-bottom: 20px;
}

main.cart div.leyenda{
    display:none;
}
 main.cart .logo_cart{
    width: 100%;
    max-width: 325px;
    min-width: 250px;
}

main.cart .detalles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

main.cart .detallesCant{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

main.cart .botonEliminar button{
    height: 30px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

main.cart .descuenton{
    margin-top: 20px;
    margin-bottom: 40px;
}

main.cart .resumen{
    font-size: 14px;
    width: 100%;
    max-width: 325px;
    min-width: 250px;
    background-color: var(--contrasteLogin);
    margin: 0 auto;
    border:  solid #E1E1E1 1px;
    border-radius: 5px;
    padding: 17px;
}

main.cart .subtotal{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 10px;
    border-top: solid #000000 1px;
}

main.cart .impuestos{
    justify-content: space-between;
    display: flex;
    padding-bottom: 5px;
    border-bottom: solid #000000 1px;
}

main.cart .total{
    padding-top: 10px;
    justify-content: space-between;
    display: flex;
    padding-bottom: 10px;
    
}
footer.cart{
    margin-top: 50px;
}

/* Creación */
main.crear form{
    font-size: 14px;
    width: 275x;
    background-color: var(--fondoLogin);
    margin: 0 auto;
    border:  solid #E1E1E1 1px;
    border-radius: 5px;
    padding: 17px;
    margin-top: 50px;
}

main.crear form button:hover{
    transition: all .5s;
    background-color: #0022AA;
    border:solid #0022AA 1px;
    border-radius: 5px;
    color: #ffffff;
}

body.crear, main.crear{
    background-color: var(--contrasteLogin);
}

main.crear .mensaje{
    margin: 10px 0px 10px 0px;
}

main.crear .logo-container{
    width: 100%;
    margin-bottom: 20px;
}
main.crear input{
    display: block;
    height: 25px;
    margin-top: 20px;
    padding: 5px;
}

main.crear select{
    height: 20px;
    margin-top: 20px;
}

main.crear textarea{
    height: 40px;
    margin-top: 20px;
    padding: 5px;
}

main.crear button{
    margin-top: 20px;
}

main.crear p label{
    display: block;
    margin-top: 20px;
}

p.errorMessage{
    color: red;
}

input.caja-error,
textarea.caja-error{
    border: red solid 2px;
    border-radius: 5px;
}

/* {
    transition: all 1s;
    border-radius: 5px;
    border: solid var(--formularioValido) 2px;
}  */


/* main.crear form .nombreArt:valid,
main.crear form .categoriaArt:valid,
main.crear form .ID:valid{
    transition: all 1s;
    border-radius: 5px;
    border: solid var(--formularioValido) 2px;
}  */


/* Edición */
main.editar form{
    font-size: 14px;
    width: 275px;
    background-color: var(--fondoLogin);
    margin: 0 auto;
    border:  solid #E1E1E1 1px;
    border-radius: 5px;
    padding: 17px;
    margin-top: 50px;
}

main.editar form button:hover{
    transition: all .5s;
    background-color: var(--fondoTransiciones);
    border:solid var(--fondoTransiciones) 1px;
    border-radius: 5px;
    color: #ffffff;
}

body.editar, main.editar{
    background-color: var(--contrasteLogin);
}

main.editar .mensaje{
    margin: 10px 0px 10px 0px;
}

main.editar .logo-container{
    width: 100%;
    margin-bottom: 20px;
}

main.editar input{
    height: 25px;
    padding: 5px;
}

main.editar label{
    display: block;
    margin-top: 20px;
}

main.editar select{
    height: 20px;
    margin-bottom: 20px;
}

main.editar textarea{
    height: 40px;
    padding: 5px;
}

footer.admin{
    font-size: 12px;
    width: 300px;
    margin: 0 auto;
}

footer.admin div.cabeza{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

/* inventario */

main.inventory article {
    font-size: 14px; 
    width: 250px;
    background-color: var(--fondoLogin);
    margin: 0 auto;
    border:  solid #E1E1E1 1px;
    border-radius: 5px;
    padding: 17px;
    margin-top: 10px;
}

main article img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

main article div.image{
    width: 215px;
    height: 275px;
    margin-top: 10px;
    margin-bottom: 10px;
}
main article button{
    margin-top: 5px;
    width: 100%;
}

main.inventory div.encabezado {
    display:flex;
}

@media (min-width: 400px){

    /* header */
    .upper-nav-bar{
        width: 80%;
    }
    .upper-nav-bar-container{
        font-size: 14px;
    }
    header #fasCart{
        font-size: 25px;
    }
    header #fasRegister{
        font-size: 25px;
    }
    .upper-nav-bar-element img{
        width: 42px;
    }
    

    /* index */

    /* detalle producto  */

    /* footer */
    footer {
        font-size: 14px;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }

    footer div{
        margin-left: 15px;
        display: block;
    }

    footer div h2:hover{
        transition: all .5s;
        color: var(--fondoTransiciones);;
    }
    footer div A:hover{
        transition: all .5s;
        color: var(--fondoTransiciones);;
    }

    /* login */

    main.login form{
        width: 275px;
    }
    main.login div.reg{
        width: 275px;
    }

    footer.for{
        width: auto;
    }
    footer.for div.cabeza{
        width: 300px;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 20px;
    }
    
    footer.for div.cabeza h2{
        margin-bottom: 0px;
    }

   
    /* register */
    main.register form{
        width: 350px;
    }
   
    footer.formulario{
        width: auto;
    }
    footer.formulario div.cabeza{
        width: 400px;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 20px;
    }
    
    footer.formulario div.cabeza h2{
        margin-bottom: 0px;
    }
    /* Carrito de compras */
    main.cart{
        font-size: 16px;
    }

    main.cart .resumen{
        font-size: 16px;
    }

    main.cart .logo_cart{
        max-width: 275px;
        margin: 10px;
    }
    main.cart .articulo{
        display:flex;
        align-items: center;
        justify-content: space-around;
    }
    main.cart .info{
        display: flex;
        flex-direction: column;
    }
    
    main.cart .etiquetaPrecio{
        margin-left: 10px;
    }
    /* Creación */
    main.crear form{
        width: 325px;
    }
    main.crear form p input{
        height: 35px;
    }

    main.crear form p button{
        height: 35px;
    }

    main.crear textarea{
        height: 50px;
    }

    main.crear select{
        height: 35px;
    }

    /* Edición */

    main.editar form{
        width: 325px;
    }
    main.editar form p input{
        height: 35px;
    }

    main.editar form p button{
        height: 35px;
    }

    main.editar textarea{
        height: 50px;
    }

    main.editar select{
        height: 35px;
    }

    footer.admin{
        display: flex;
        justify-content: center;
        width: auto;
    }
    footer.admin div.cabeza{
        width: 400px;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 20px;
    }
    
    footer.admin div.cabeza h2{
        margin-bottom: 0px;
    }
}

@media (min-width: 720px){

    /* header */
    .main-logo-desktop{
        display: block;
    }

    .main-logo-mobile{
        display: none;
    }
    .upper-header-bar{
        flex-direction: row;
    }

    .upper-nav-bar-container{
        font-size: 14px;
    }
    .search-form input{
        height: 25px;
    }
    header .logo-container img{
        width: 70%;
    }

    /* index */

    .search-form button p{
        display: block;
    }

    .home-logo-bar li{
        width: 12%;
    }

    .home-logo-bar p{
        display: block;
    }

    .product-window a{
        width: 22.5%;
    }

    .recommendation-bar img{
        width: 15%;
    }

    .product-window img{
        max-height: 20vw;
        object-fit: contain;
    }

    /* detalle producto  */
    .product-presentation-image{
        width: 58%;
    }

    .product-presentation-text{
        width: 38%;
    }

    .product-presentation,
    .product-detail{
        max-width: 90%;
    }

    .opinions-section{
        max-width: 60%;
    }

    /* footer */
    footer {
        font-size: 16px;
    }
    
    /* login */
    main.login form p input{
        height: 40px;
    }

    main.login form p button{
        height: 40px;
    }

    main.login form{
        width: 300px;
        font-size: 16px;
    }

    main.login div.reg{
        width: 300px;
        font-size: 16px;
    }

    footer.for div.cabeza{
        width: 350px;
    }

    /* register */
    main.register form.formulario p input{
        height: 40px;
    }

    main.register form.formulario p button{
        height: 40px;
    }
    main.register form{
        width: 425px;
        font-size: 16px;
    }
    footer.formulario div.cabeza{
        width: 450px;
    }

    /* Carrito de compras */
    main.cart{
        font-size: 18px;
    }
    main.cart .resumen{
        font-size: 18px;
    }
    main.cart .desyres{
        align-self: flex-start;
    }
    main.cart .logo_cart{
        max-width: 325px;
        margin: 10px;
    }
    main.cart article{
        width: 100%;
        max-width: 1000px;
        flex-direction: row;
        justify-content: space-between;
    }
    main.cart .articulo{
        display: flex;
        justify-content: space-between;
        width: 70%;
        max-width: 600px;
        min-width: 520px;
        margin-right: 20px;
    }

    main.cart .resumen{
        min-width: 300px;
    }

    /* Creación */
    main.crear form p input{
        height: 40px;
    }

    main.crear form p button{
        height: 40px;
    }
    main.crear form{
        width: 425px;
        font-size: 16px;
    }

    main.crear textarea{
        height: 70px;
    }

    main.crear select{
        height: 40px;
    }

    /* Edición */

    main.editar form p input{
        height: 40px;
    }

    main.editar form p button{
        height: 40px;
    }
    main.editar form{
        width: 425px;
        font-size: 16px;
    }

    main.editar textarea{
        height: 70px;
    }

    main.editar select{
        height: 40px;
    }

    footer.admin div.cabeza{
        width: 425px;
    }
}

@media (min-width: 1200px){

    /* header */
    .upper-nav-bar-container{
        font-size: 14px;
    }

    header #fasCart{
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    header #fasRegister{
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .upper-nav-bar-element img{
        width: 50px;
        margin-bottom: 10px;
    }

    /* index */

    /* detalle producto  */

    /* footer */
    footer {
        font-size: 18px;
    }
    /* login */
    main.login form p input{
        height: 50px;
    }

    main.login form p button{
        height: 50px;
    }

    main.login form{
        font-size: 18px;
    }

    main.login div.reg{
        font-size: 18px;
    }

    /* register */
    main.register form p input{
        height: 50px;
    }

    main.register form p button{
        height: 50px;
    }

    main.register form{
        font-size: 18px;
    }
    footer.formulario div.cabeza{
        width: 450px;
    }

    /* Carrito de compras */
    main.cart{
        font-size: 20px;
    }
    main.cart .resumen{
        min-width: 350px;
    }
    main.cart .botonEliminar button{
        width: 70%;
    }
    main.cart .info{
        width: 500px;
    }
    main.cart .detalles{
        width: auto;
        max-width: none;
        max-width: none;
    }
    main.cart .logo_cart{
        width: 1000px;
        margin-right: 30px;;
    }

    main.cart .articulo{
        justify-content: space-between;
        width: auto;
        max-width: none;
        min-width: none;
    }

    main.cart article{
        justify-content: space-between;
        width: auto;
        max-width: none;
        min-width: none;
    }

    /* Creación */

    main.crear form p input{
        height: 50px;
    }

    main.crear form p button{
        height: 50px;
    }

    main.crear form{
        font-size: 18px;
    }
    main.crear select{
        height: 50px;
    }

    /* Edición */

    main.editar form p input{
        height: 50px;
    }

    main.editar form p button{
        height: 50px;
    }

    main.editar form{
        font-size: 18px;
    }
    main.editar select{
        height: 50px;
    }

    footer.admin div.cabeza{
        width: 400px;
    }
}