:root{
    /* --Verde: #64e100;
    --Azul: #0064E1;
    --Rosa: #e10064; */

    --fondo-header: white;
    --letra-header:black;
    --sombreado-header: #0064E1;
    --Rosa: #e10064;
    --fondo-main: white;
    --fondo-botones-carrusel: rgba(255, 255, 255, 0.25);
    --fondo-descripcion-carrusel: rgba(255, 255, 255, 0.25);
    --presio: red;
}

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

main{
    margin: 15px;
    background-color: var(--fondo-main);
}

/* header */
header{
    background-color: var(--fondo-header);
    display: flex;
    flex-wrap: wrap;
    color: var(--letra-header);
    margin: 15px;
    padding-top: 15px;
}

.upper-header-bar{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo-container{
    width: 30%;
    align-self: center;
}

.logo-container img{
    object-fit: contain;
    width: 100%;
    max-height: 95px;
}

.upper-nav-bar-container{
    width: 60%;
}

.upper-nav-bar-element{
    width: 30%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.upper-nav-bar-element div{
    align-self: center;
}

.upper-nav-bar-element img{
    width: 50px;
    border-radius: 50%;
    padding: 5px 5px 0px 5px;
}

.upper-nav-bar,
.search-form{
    display: flex;
    flex-wrap: wrap;
}

.upper-nav-bar{
    justify-content: space-around;
}

div.upper-nav-bar,
.search-form{
    justify-content: flex-end;
}

.search-form input{
    width: 60%;
    padding: 3px;
}

.search-form button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 30%;
    max-width: 120px;
}

.search-form button p{
    display: none;
}

.search-form button p,
.search-form button i{
    align-self: center;
}

.lower-bar{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.lower-bar li{
    padding: 1rem;
}

.lower-bar li:hover{
    background-color: var(--sombreado-header);
}

.upper-nav-bar-element:hover{
    background-color: var(--sombreado-header);
}

/* footer */
footer {
    font-size: 14px;;
    margin: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer A{
    text-decoration: none;
    color: #000000;
}

/* index */

.carousel{
    position: relative;
}

.carousel p,
.carousel button{
    position: absolute;
}


.carousel button.carousel-left-button,
.carousel button.carousel-right-button{

    top: 50%;
    transform: translate(0,-50%);
    border: none;
    background-color: var(--fondo-botones-carrusel);
}

.carousel button.carousel-left-button{
    left: 0;
}

.carousel button.carousel-right-button{
    right: 0;
}

.carousel p{
    bottom: 5px;
    width: 100%;
    text-align: center;
    background-color: var(--fondo-descripcion-carrusel);
}

.home-logo-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    margin: 15px 0px;
}

.home-logo-bar li{
    width: 15%;
    text-align: center;
}

.home-logo-bar img{
    width: 100%;
}

.home-logo-bar p{
    display: none;
}

.product-window{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-window article{
    width: 45%;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-window article h4,
.product-window article p.product-rating-stars{
    width: 90%;
    text-align: center;
}

.product-window article p.product-price,
.product-window article p.product-brand{
    width: 45%;
    text-align: center;
}

.product-window img{
    width: 100%;
}

.recommendation-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px 0;
}

.recommendation-bar img{
    width: 18%;
}

.page-changer{
    text-align: center;
}

/* detalle producto  */
.product-presentation-image{
    text-align: center;
    margin-bottom: 10px;
}

.product-presentation-image img{
    width: 90%;
}

.product-presentation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-presentation-image{
    width: 100%;
}

.product-presentation-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-self: start;
}

.product-presentation-text h4{
    text-align: center;
    width: 100%;
}

.product-presentation-text P,
.product-presentation-text form{
    text-align: center;
    width: 48%;
}

.product-presentation-resume{
    margin-left: 15px;
    width: 100%;
}

.product-presentation-price{
    color: var(--presio);
}

/* login */
main.login form.formulario{
    margin: 20px;
    border:  solid #000000 1px;
    border-radius: 10%;
}

main.login form.formulario p{
    margin: 20px 20px;
}

main.login form.formulario input{
    width: 100%;
}

main.login form.formulario p.finale{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.login div.cuerpo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* register */
main.register form p{
    margin: 30px 30px;
}

main.register form input{
    width: 100%;
}

main.register form{
    margin: 30px;
    border:  solid #000000 1px;
    border-radius: 10%;
}

main.register form input.nombre:valid{
    transition: all 1s;
    background-color: lightgreen;
}

main.register form input.contraseña:valid{
    transition: all 1s;
    background-color: lightgreen;
}

main.register form input.contraseña:invalid{
    transition: all 1s;
    background-color: #ff7f7f;
}

/* Carrito de compras */


@media (min-width: 361px){

    /* header */

    /* index */

    /* detalle producto  */

    /* footer */
    footer {
        font-size: 12px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    footer div{
        margin-left: 15px;
        display: block;
    }

    /* login */

    main.login form.formulario input{
        width: 70%;
    }

    /* register */
    main.register form input{
        width: 70%;
    }
    /* Carrito de compras */

}

@media (min-width: 720px){

    /* header */

    /* index */

    .search-form button p{
        display: block;
    }

    .home-logo-bar li{
        width: 12%;
    }

    .home-logo-bar p{
        display: block;
    }

    .product-window article{
        width: 22.5%;
    }

    .recommendation-bar img{
        width: 15%;
    }

    /* detalle producto  */
    .product-presentation-image{
        width: 58%;
    }

    .product-presentation-text{
        width: 38%;
    }

    /* footer */

    /* login */

    /* register */

    /* Carrito de compras */
}

@media (min-width: 1200px){

    /* header */
    .upper-nav-bar-element{
        width: 25%;
    }

    /* index */

    /* detalle producto  */

    /* footer */

    /* login */

    /* register */

    /* Carrito de compras */
}