:root{
    --Verde: #64e100;
    --Azul: #0064E1;
    --Rosa: #e10064;
}

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

/* header */

/* index */

/* detalle producto  */



/* footer */

/* login */

/* register */

/* Carrito de compras */


@media (min-width: 768px){

/* header */

/* index */

/* detalle producto  */



/* footer */

/* login */

/* register */

/* Carrito de compras */

}

@media (min-width: 1200px){

/* header */

/* index */

/* detalle producto  */



/* footer */

/* login */

/* register */

/* Carrito de compras */

}