<%- include("./partials/head") %>

    <body>
        <p>Listo</p>
        <form action="/products" method="GET">
            <button type="submit">Regresar a la lista de Inventario</button>
        </form>
    </body>

    </html>