<%- include("./partials/head") %>

    <head>
        <title>ChapultePets - Error</title>
    </head>

    <body class="error">
        <main class="error">
            <h1>¡No encontrado! </h1>
            <h2>La ruta que buscas no existe</h2>
            <a href="/"><img src="img/logo_mobile.png" alt=""></a>
        </main>
    </body>
</html>
