<%- include("./partials/head") %> 
<head>
    <title>ChapultePets - Detalle del producto</title>
</head>

<body>

    <%- include("./partials/header") %>

    <main class="main-product-detail">
        <div class="product-presentation">
            <div class="product-presentation-image">
                <img src="img/general_placeholder.png" alt="">
            </div>
            <div class="product-presentation-text">
                <h4>Título</h4>
                <p class="product-presentation-rating">
                    <i class="fas fa-star stars"></i>
                    <i class="fas fa-star stars"></i>
                    <i class="fas fa-star-half-alt stars"></i>
                    <i class="far fa-star stars"></i>
                    <i class="far fa-star stars"></i>
                    (19)
                </p>
                <p class="product-presentation-brand">Marca</p>
                <p class="product-presentation-price">$00.00</p>
                <form action="">
                    <label for="cantidad">Cantidad:</label>
                    <select name="cantidad" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <button>Agregar al carrito</button>
                </form>
                <h4>Resumen del producto</h4>
                <div class="product-presentation-resume">
                    <ul>
                        <li>Resumen</li>
                        <li>Resumen</li>
                        <li>Resumen</li>
                        <li>Resumen</li>
                        <li>Resumen</li>
                        <li>Resumen</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="product-detail">
            <h2>Detalles del producto</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum iusto laborum adipisci quos, maiores itaque aliquam numquam fugiat necessitatibus similique beatae velit assumenda eos odio esse corporis quo tenetur omnis.</p>
            <img src="img/general_placeholder.png" alt="" width="30%">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, quisquam. Impedit voluptate sit praesentium vel, sapiente vitae. Vel, temporibus amet accusamus aliquam itaque nesciunt, distinctio, ab quis ipsa quod reiciendis expedita veniam facere quaerat nemo fugit aut ex dolor non quas et. Nam, dolores impedit vero sit nemo minus voluptatem fuga rem aperiam magni reiciendis inventore qui culpa libero officiis veniam molestias quisquam, placeat at vitae adipisci. Sapiente ratione sit blanditiis neque, exercitationem officia? Quasi incidunt quo nostrum error, vel cumque neque perspiciatis itaque doloremque fugit. Blanditiis recusandae reiciendis optio a vero placeat alias, molestiae itaque debitis dolores! Vero, inventore minima quia sunt error dicta neque alias nesciunt perspiciatis obcaecati facere consequuntur, reiciendis doloremque aperiam deleniti maiores explicabo. Ratione tempore magnam voluptatem iste voluptates. Libero adipisci maiores iure laborum tenetur repudiandae unde! Natus, aut doloribus! Aut minus fugiat eveniet excepturi quo rem nihil velit vero, hic exercitationem nesciunt cupiditate placeat ducimus sit, quis animi amet iusto molestias est. Eius repellat quis provident aut error delectus excepturi perspiciatis tempore et eligendi porro ratione quam harum voluptatibus, accusamus voluptate exercitationem esse magni, nostrum, obcaecati accusantium officiis dolorem. Nesciunt placeat aliquam esse id dicta. Praesentium nam blanditiis maiores necessitatibus earum dolores delectus cupiditate voluptate. Animi beatae cum quae! Quidem reiciendis officia, nemo repellat aperiam placeat, harum assumenda id sint molestiae, quaerat fugiat cupiditate tenetur recusandae similique aut distinctio quia alias? Accusantium perspiciatis, dolorem similique non alias qui dolore unde, nostrum autem ea placeat iste accusamus neque sed, quo veritatis odio nesciunt. Perspiciatis recusandae distinctio provident alias maxime voluptatem optio quasi voluptates molestiae, velit voluptate, ratione aperiam veritatis itaque sapiente saepe illo! Incidunt molestias assumenda harum? Iure animi asperiores doloremque itaque sapiente veritatis voluptatibus, qui culpa! Quod hic, quia mollitia voluptates, accusamus veritatis assumenda autem eos numquam provident nobis adipisci, explicabo laborum possimus ab dicta distinctio esse totam eligendi asperiores? Perferendis id ipsum quod nostrum sint neque soluta excepturi! Dicta magnam, impedit dolorum incidunt unde iure laborum illo deserunt, asperiores et minus at vero distinctio rem magni obcaecati! Culpa sunt nemo velit vel veniam corrupti maxime facere repellat repudiandae veritatis autem voluptates corporis modi libero ea similique inventore nesciunt sint, quae quis rerum at deleniti alias? Distinctio, blanditiis culpa a architecto in ea dicta ratione minus commodi quis eaque error ipsam aliquid voluptas sunt harum accusantium dignissimos ipsa impedit. Consequatur illum deserunt, hic eaque eum molestias suscipit eius assumenda? Id cum deleniti dignissimos. Dolores dolorum aut aliquam quam magnam necessitatibus, porro laboriosam a. Quos unde facere porro, dolorem veritatis repellendus voluptatem ea tempore pariatur quidem sed nihil velit culpa, aut rerum illum enim asperiores impedit blanditiis? Dolore dolorem iure dignissimos excepturi voluptatibus suscipit eos qui, necessitatibus, non odit consectetur incidunt maiores explicabo. Similique atque ratione ipsa, reprehenderit voluptate quaerat reiciendis velit neque ipsum aut nisi, eos hic esse cum error sit voluptates tempore facere repellendus voluptatem nemo tenetur nihil? Nihil, repellendus facilis nostrum nemo in accusantium. Tempore voluptas ratione ex sequi mollitia temporibus dolorum ad, quam vel modi quas hic laudantium animi enim accusantium.</p>
        </div>

        
        <div class="opinions-section">
            <h2>Opiniones</h2>
            <select name="cantidad" id="">
                <option value="1 estrella">1 estrella</option>
                <option value="2 estrellas">2 estrellas</option>
                <option value="3 estrellas">3 estrellas</option>
                <option value="4 estrellas">4 estrellas</option>
                <option value="5 estrellas">5 estrellas</option>
            </select>
            <!-- Opinión 1 -->
            <div>
                <div>
                    <img src="Portrait_Placeholder.png" alt="">
                    <div>
                        <h4>Usuario 1</h4>
                        <p class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </p>
                    </div>
                    <p>Fecha</p>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ullam totam nemo libero facere fugiat consequuntur nulla, nostrum nesciunt adipisci vitae harum sint ut dignissimos quam dolor, deleniti est. Quibusdam.</p>
            </div>

            <!-- Opinión 2 -->
            <div>
                <div>
                    <img src="Portrait_Placeholder.png" alt="">
                    <div>
                        <h4>Usuario 2</h4>
                        <p class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </p>
                    </div>
                    <p>Fecha</p>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ullam totam nemo libero facere fugiat consequuntur nulla, nostrum nesciunt adipisci vitae harum sint ut dignissimos quam dolor, deleniti est. Quibusdam.</p>
            </div>
        </div>
    </main>

    <!-- Pie de página -->
    <%- include("./partials/footer") %> 

</body>
</html>