<footer class="margen">
    <div> 
        <h2>Contacto</h2>
        <p><A href=/#>Quienes somos</A></p>
        <p><A href=/#>Preguntas frecuentes</A></p>

    </div>
    <div>
        <h2>Legales</h2>
        <p><A href=/#>Términos de servicio</A></p>
        <p><A href=/#>Avisos de privacidad</A></p>

    </div>
    <div>
        <h2>Ligas adicionales</h2>
        <p><A href=/#>Devoluciones</A></p>
        <p><A href=/#>Pagos</A></p>
        <p><A href=/#>Envíos y Entregas</A></p>
    </div>
    <!-- Redes sociales -->
    <div>
        <h2>Nuestras redes</h2>
        <p><A href=/#><i class="fab fa-twitter"></i></A> 
        <A href=/#><i class="fab fa-facebook"></i></A>
        <A href=/#><i class="fab fa-instagram"></i></A></p>
    </div>
</footer>