        <div class="cabeza"> 
            <h2><p>Contacto</p></h2>

            <h2><p>Legales</p></h2>

            <h2><p>Adicionales</p></h2>
        </div>
        <!-- Redes sociales -->
        <div>
            <div>
                <h2>Nuestras redes</h2>
            </div>
            <div class="redes">
                <A href=/#><i class="fab fa-twitter"></i></A> 
                <A href=/#><i class="fab fa-facebook"></i></A>
                <A href=/#><i class="fab fa-instagram"></i></A>
             </div>
        </div>
