<header>
    <div class="upper-header-bar">
        <div class="logo-container">
            <a href="/">
                <img alt="Chapultepets" class="main-logo-mobile" src="/img/logo_mobile.png">
                <img alt="Chapultepets" class="main-logo-desktop" src="/img/logo_desktop.png">
            </a>
        </div>
        <div class="upper-nav-bar-container">
            <div class="upper-nav-bar">

                <% if (!locals.user) { %>
                    <div class="upper-nav-bar-element">
                        <div>
                            <a href="/users/register">
                                <p><i class="fas fa-envelope" id="fasRegister"></i></p>
                                <h4>Registro</h4>
                            </a>
                        </div>
                    </div>                 
                <% } %>

                <div class="upper-nav-bar-element">
                    <div>
                        <a href="/products/cart">
                            <p><i class="fas fa-shopping-cart" id="fasCart"></i></p>
                            <h4>Mi carrito</h4>
                        </a>
                    </div>
                </div>

                <!-- ícono de perfil -->
                <div class="upper-nav-bar-element">
                    <div>
                        <a href="<%= locals.user ? "/users/profile" : "/users/login" %>">
                            <img src="/img/users/<%= locals.user ? user.imagenPerfil : "Portrait_Placeholder.png" %>" alt="">
                            <h4>Mi perfil</h4>
                        </a>
                    </div>
                </div>

                <!-- ícono de login -->
                <div class="upper-nav-bar-element">
                    <div>
                        <a href="/users/login">
                            <p><i class="fas fa-sign-in-alt" id="fasCart"></i></p>
                            <h4>Ingresar</h4>
                        </a>
                    </div>
                </div>
            </div>

            <form action="" class="search-form">
                <input type="text">
                <button>
                    <p>Buscar&nbsp;&nbsp;</p>
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
    </div>

    <ul class="lower-bar">
        <li>Búsqueda por mascota</li>
        <li>Marcas</li>
        <li>Categorías</li>
    </ul>
</header>