<%- include("../partials/head") %> 
<head>
    <title>ChapultePets - Carrito de Compras</title>
</head>

<body>
    <%- include("../partials/header") %>

    <main>
        <h1>Bienvenido <%= locals.userName ? locals.userName : "Extraño"%> </h1>
    </main>

    <%- include("../partials/footer") %>
</body>
</html>