<%- include("../partials/head") %>

    <head>
        <title>ChapultePets - Registro</title>
    </head>

    <body class="register">

        <!-- Configuración del main -->
        <main class="register">
            <form action="/users/register" method="POST" enctype="multipart/form-data">
                <div class="logo-container">
                    <a href="/">
                        <img src="/img/logo_mobile.png" alt="" class="main-logo">
                    </a>
                </div>

                <p>Encuentra tus productos favoritos con una cuenta personalizada.</p>

                <p>
                    <input type="text" name="nombreUsuario" placeholder="Nombre de usuario" class="nombreDeUsuario"
                        style="width: 100%;" required>
                </p>

                <p>
                    <input type="text" name="nombrePila" placeholder="Nombre(s)" class="" style="width: 100%;" required>
                </p>

                <p>
                    <input type="text" name="apellido" id="" placeholder="Apellido(s)" class="" style="width: 100%;"
                        required>
                </p>

                <p>
                    <input type="password" name="password" minlength="6" placeholder="Contraseña" id=""
                        class="contraseña" style=" width: 100%;" required>
                </p>

                <p>
                    <input type="password" name="confirmacionPassword" minlength="6" placeholder="Confirmar contraseña"
                        id="" class="confirmarContraseña" style="width: 100%;" required>
                </p>

                <p>
                    <input type="email" name="email" id="" placeholder="Correo electrónico" class="correo"
                        style="width: 100%;" required>
                </p>

                <p>
                    <input type="number" name="telefono" id="" min="10" placeholder="Numéro Telefónico (10 Dígitos)"
                        class="tel" style="height: 30px; width: 100%;" required>
                </p>
                <p>
                    <label name="avatarPicture">Foto de perfil:</label>
                    <input type="file" name="avatarPicture" id="avatarPicture" class="avatarPicture"
                        style="height: 30px; width: 100%;">
                </p>

                <p>
                    <button type="submit" class="" style="width: 100%;">Registrar</button>
                </p>

            </form>
        </main>
        <!-- Configuración del Pie de página -->
        <footer class="formulario">
            <%- include("../partials/footerFormularioUsuario") %>
        </footer>

    </body>

    </html>